@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Thank you for registering!</h1>
<br />
<p>Please <a id="login" asp-page="./Login">Login</a> to access the Projects!</p>