@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Just one more step!</h1>
<br />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your registration!</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
